@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme:light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    font-family: "Inter", sans-serif;
  }
}

body {
  color: rgb(var(--foreground-rgb));

  font-family: "Inter", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.font-primaryOrange {
 color:#FE4F00
}
.bg-primaryOrange {
  background-color: #FE4F00;
}
body{
  background-color: #FCFCFD;
  overflow: scroll;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Reduced width of the entire scrollbar */
  border: .5px solid #DAE0E6;
       
          /* width of the entire scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;    
  width: 5px;
  /* color of the tracking area */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #DAE0E6;    /* color of the scroll thumb */
  border-radius: 10px;       /* roundness of the scroll thumb */
  border: 1px solid transparent;  /* creates padding around scroll thumb */
}

.submenu-trigger:hover svg {
  fill: white;
}